.row {
    padding: 5px;
}

#remove {
    color: red;
}

.block-update-card {
  height: 100%;
  border: 1px #FFFFFF solid;
  margin-top: 10px;
  padding: 0;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow-x: hidden;
  background-color: #FFFFFF;
}

.block-update-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.block-update-card .v-status {
  width: 5px;
  height: 80px;
  float: left;
  margin-right: 5px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

.block-update-card .update-card-body {
  margin-top: 10px;
  margin-left: 5px;
}

.block-update-card .update-card-body h4 {
  color: #737373;
  font-weight: bold;
  font-size: 13px;
}

.block-update-card .update-card-body p {
  color: #737373;
  font-size: 12px;
}
