*{
    margin:0;
    padding:0;
    
}
.menu{
    width: 100%;
    height: 60px;
    font-family: 'Arial';
    font-size: 20px;
    background-color: #1E90FF;
}
.body{
    
    background-color: #6633ff;
}
.menu ul{
    list-style: none;
    position: relative;
    
}
.menu ul li{
    width: 150px;
    float: left;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #1E90FF;
    color: white;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #00BFFF;
    color: white;
}

.menu ul ul li{
    float: none;
    border-bottom: solid 1px white;
}

.menu ul ul li a{
    background: #87CEEB;
}

.container {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  margin-top: 55px;
  padding-bottom: 20px;

}

.info{
    text-align: center;
}
.footer{
    background-color: #696969;
    text-align: center;
    bottom: 0px ;
    color: white;
}

.botao_menu{
    position: relative;
    background-color: #1E90FF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Arial';
    font-size: 20px;
    margin: 1px 1px;
    margin-left: 500%;

}

.botao_menu:hover{
    background-color: #00BFFF;
    color: white;
}


