::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #551a8b;
}

.navbar {
    margin-bottom: 0;
}

.container-fluid {
    padding-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
    
    height: 90%;
    
    box-shadow: 5px 5px 15px #312f2f;
    
    background-color: whitesmoke;
    
    overflow-y: scroll;
    
    text-align: center;
}

p.success {
    border-left: green solid;
    border-left-width: 10px;
    padding-left: 10px;
}

p.error {
    border-left: red solid;
    border-left-width: 10px;
    padding-left: 10px;
}

