::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ab95bf;
}

.navbar {
    margin-bottom: 0;
}

.navbar {
    border-bottom: none;
    background: linear-gradient(134deg, rgb(167, 29, 169), rgb(15, 185, 187));
}

ul.dropdown-menu {
    background: linear-gradient(134deg, rgb(167, 29, 169), rgb(15, 185, 187));
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:hover {
    color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-form .btn-link {
    color: white;
}

.container-fluid {
    padding-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
    
    height: 90%;
    
    box-shadow: 5px 5px 15px #312f2f;
    
    background-color: whitesmoke;
    
    overflow-y: scroll;
    
    text-align: center;
}

p.success {
    border-left: green solid;
    border-left-width: 10px;
    padding-left: 10px;
}

p.error {
    border-left: red solid;
    border-left-width: 10px;
    padding-left: 10px;
}

